body {
  background-color: #dfdbe5;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='105' viewBox='0 0 80 105'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='death-star' fill='%239C92AC' fill-opacity='1'%3E%3Cpath d='M20 10a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm15 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zM20 75a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zm30-65a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm0 65a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zM35 10a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zM5 45a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zm60 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

#navigation,
.jokes__joke,
.pop-up__message {
  text-align: center;
}

#page-columns {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  width: 90vw;
}

.jokes__container {
  border: 1px solid black;
}

.vote__wrapper {
  width: max-content;
  margin: auto;
}

.vote__button {
  display: inline;
}

.vote__up {
  color: green;
}

.vote__down {
  color: red;
}

form {
  margin: 5rem auto;
  width: max-content;
  padding: 3rem;
}

.form__field {
  width: 100%;
  margin: 0;
}

.form__button {
  background-color: aquamarine;
  color: antiquewhite;
  width: 100%;
  margin: auto;
}

#pop-up {
  position: absolute;
  width: 500px;
  height: 400px;
  margin: auto;
  top: 30px;
  left: 0;
  right: 0;

  text-align: center;
  background: white;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  border-radius: 5px;
}

#pop-up__close {
  align-self: flex-end;
  opacity: 0.2;
  margin: 1rem;
}

#pop-up__register {
  font-size: 3.5rem;
  margin: 1.3rem;
}
