h1 {
  text-decoration: underline;
}

section {
  border: 1px solid #000000;
  width: 200px;
  background-color: rgb(250, 228, 215);
  text-align: center;
}

section p {
  background-color: rgb(255, 167, 108);
  font-size: 30px;
}

.fragile,
.left,
.right,
.spa {
  border: 1px solid rgb(255, 188, 143);
}
/* Task 1 */

/* Task 2 */

/* Task 3 */
.frogger {
  width: 800px;
  border: 10px ridge black;
  font-size: 3rem;
  text-align: center;
}

.row1 {
  background-color: green;
}

.row2,
.row3,
.row4,
.row5 {
  background-color: blue;
  text-align: start;
}

.row9,
.row10,
.row11 {
  background-color: #000000;
}
.row12,
.row6 {
  background-color: purple;
  height: 3.5rem;
}

.row1,
.row12 {
  text-align: center;
}

.turtle {
  background-color: greenyellow;
  height: 3rem;
  width: 100px;
  border-radius: 25%;
}

/* Task 4 */
.spa {
  width: 95vw;
}

.avocado-article {
  width: 300px;
  border: 1px solid black;
}

.button-wrapper {
  width: max-content;
}
